body {
    background-color: #F9FAFB;
}

#form_wrap {
    background-color: white;
}

.input, #sign_input select {
    border-color: #DFDFDF;
}

.input:focus, #sign_input select:focus {
    border-color: #313131;
}

#sign_input select {
	color: #757575;
}

.error {
    color : #900;
}

#signUp_email, #signUp_us {
    background-color: white;
    border-color: #DFDFDF;
}

#submit, #cert_phone, #signUp, #update {
    color: white;
    background-color: black;
}

#submit:hover {
    background-color: #313131;
}

#signUp_kakao {
    background-color: #fddc3f;
}

#div_line span {
    color: #858585;
}

#div_hr {
    border-color: #DFDFDF;
}

a {
    color: black;
}

a:visited {
    color: black;
}