#all_wrap {
    display: flex;
    align-items: center;
}

#form_wrap, p {
    text-align: center;
}

#login_opt {
    display: flex;
    justify-content: space-between;
}

#login,#sign_email {
    display: flex;
    text-align: left;
    flex-direction: column;
}

#login_input, #sign_input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input {
    outline: none;
}

.input, #signUp_email {
    border-style: solid;
}

#submit,
#login_opt label,
li img,
#cert_phone,
#signUp {
    cursor: pointer;
}

#login_ul_wrap::before {
    content: "SNS로 간편하게 시작하기";
    display: block;
    text-align: center;
    cursor: text;
}

#inner_wrap>p {
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    display: inline-block;
}

a {
    text-decoration-line: none;
}

p span {
    text-decoration: underline;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#signUp_kakao {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

#signUp_kakao, #sign_ul_wrap li, #signUp_email, #terms_unfold {
    cursor: pointer;
}

#div_line {
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_line * {
    display: inline-block;
}

#div_hr {
    border-style: solid;
}

#cert_input div {
    display: flex;
    justify-content: space-around;
}

#terms {
    text-align: center;
}

#terms_detail {
    display: none;
}