* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    font-weight: 400;
}

#all_wrap {
    width: 600px;
    height: 100%;
    margin: 0 auto;
}

#form_wrap {
    width: 100%;
    min-height: 700px;
    padding: 50px;
    border-radius: 5%;
}

#sign_ul_wrap li {
    display: inline-block;
}

#sign_ul_wrap img {
    width: 25px;
    height: 25px;
}

#inner_wrap {
    width: 320px;
    margin: 0 auto;
}

figure {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
}

figure img {
    width: 100%;
    height: auto;
}

li img {
    width: 50px;
    height: 50px;
}

input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
}

#sign_input select {
	padding: 0 10px;
	width: 32.5%;
	height: 45px;
	border-width: 2px;
	border-radius: 5px;
	background-position: 100%;
}
#sign_input label:nth-child(6) input{
	width: 32.5%;
}

.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
}

.error.active {
    padding: 0.3em;
}

#error {
	padding-bottom: 10px;
}

.input {
    padding-left: 10px;
}

#submit, #signUp {
    font-weight: 800;
}

#keep_logIn {
    width: 12px;
    height: 12px;
}

h3 {
    font-size: .9em;
    margin-bottom: 5px;
}

#login_opt {
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 40px;
}

#login_opt a span:hover {
    font-weight: 600;
}

ul {
    margin-top: 25px;
    margin-bottom: 70px;
}

ul img {
    border-radius: 50%;
}

#login_ul_wrap img:hover {
    box-shadow: 0 8px 10px 0 rgb(215, 215, 215);
}

p span {
    font-weight: 500;
    padding-left: 15px;
}

#signUp_kakao {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 10px;
    font-weight: 1000;
}

#signUp_kakao img {
    width: 30px;
    height: 30px;
}

#sign_wrap {
    margin-top: 100px;
}

#sign_input {
	height: 570px;
}

#content {
    margin-top: 100px;
}

#sign_ul_wrap li:hover>img,
#sign_ul_wrap li:hover>span,
#signUp_kakao:hover,
#signUp_email:hover,
#signUp_us:hover {
    opacity: .6;
}

#sign_ul_wrap img {
    position: relative;
    top: 7px;
}

#div_line span {
    padding: 0 10px;
}

#div_hr {
    width: 130px;
    height: 1px;
    border-width: 1px;
}

#sign_email h2 {
    margin-bottom: 15px;
}

#cert_phone, #cert_num {
    width: 48%;
}

#terms {
    margin: 20px 0;
}

#check_all {
    width: 15px;
    height: 15px;
}

#signUp_email, #signUp_us {
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: 600;
}
